# SPDX-License-Identifier: GPL-2.0-only
#
# RapidIO master port configuration
#

config RAPIDIO_TSI721
	tristate "IDT Tsi721 PCI Express SRIO Controller support"
	depends on RAPIDIO && PCIEPORTBUS
	default "n"
	help
	  Include support for IDT Tsi721 PCI Express Serial RapidIO controller.

config FSL_RIO
	bool

config FSL_RIO_RMU
	tristate "Freescale SRIO Controller with RMU"
	depends on RAPIDIO && PPC_E500
	select FSL_RIO
	default "n"
	help
	  Include support for RapidIO controller on Freescale embedded
	  processors (MPC8548, MPC8641, etc). This controller depends on an
	  RMU, usually found on P4080 and similar systems.
