# SPDX-License-Identifier: GPL-2.0-only
#
# RapidIO master port configuration
#

config RAPIDIO_TSI721
	tristate "IDT Tsi721 PCI Express SRIO Controller support"
	depends on RAPIDIO && PCIEPORTBUS
	default "n"
	help
	  Include support for IDT Tsi721 PCI Express Serial RapidIO controller.

config FSL_RIO
	tristate "Freescale Embedded SRIO Controller support"
	depends on RAPIDIO && PPC_E500
	default "n"
	help
	  Include support for RapidIO controller on Freescale embedded
	  processors (MPC8548, MPC8641, P-Series, T-Series, etc).
