/*
 * T4240MFCS Scale-out Device Tree Source
 *
 * Copyright 2012 - 2015 Freescale Semiconductor Inc.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *	notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *	notice, this list of conditions and the following disclaimer in the
 *	documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *	names of its contributors may be used to endorse or promote products
 *	derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor ``AS IS'' AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#include <dt-bindings/gpio/gpio.h>

#define QORIQ_SCOPE
#define FMAN0_1G0
#define FMAN0_10G0
#define FMAN0_10G1
#define FMAN1_10G0
#define FMAN1_10G1

#define DIRECT_PHY_1G

#define MEM_HIGH	0xfc
#define BRD_HIGH	0xff

#include "t4240si-pre.dtsi"

/ {
	model = "fsl,T4240MFCS";
	/* Compat with QDS */
	compatible = "fsl,T4240QDS";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&mpic>;

	ifc: localbus@ffe124000 {
		reg = <BRD_HIGH 0xfe124000 0 0x2000>;
		ranges = <0 0 BRD_HIGH 0xe8000000 0x08000000
			  2 0 BRD_HIGH 0xff800000 0x00010000
			  3 0 BRD_HIGH 0xffdf0000 0x00008000>;

		nor@0,0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "cfi-flash";
			reg = <0x0 0x0 0x8000000>;

			bank-width = <2>;
			device-width = <1>;

		// name     offset      size		alternate
		// ------------------------------------------------------
		// bd-info: <0x00000000 0x00020000>     0x04000000   128k
		//  kernel: <0x00020000 0x009e0000>     0x04020000 10112k
		// ramdisk: <0x00a00000 0x034e0000>     0x04a00000 54144k
		//     fdt: <0x03ee0000 0x00020000>     0x07ee0000   128k
		//    fman: <0x03f00000 0x00020000>     0x07f00000   128k
		//     env: <0x03f20000 0x00020000>     0x07f20000   128k
		//   uboot: <0x03f40000 0x000c0000>     0x07f40000   768k

			// Board Data: RCW, PBI, ???
			partition@bd {
				reg = <0x00000000 0x00020000>;
				label = "board-data";
			};

			// Linux Kernel
			partition@lx {
				reg = <0x00020000 0x009e0000>;
				label = "kernel";
			};

			// RAMDisk
			partition@rd {
				reg = <0x00a00000 0x034e0000>;
				label = "ramdisk";
			};

			// Device tree
			partition@dtb {
				reg = <0x03ee0000 0x00020000>;
				label = "dtb";
			};

			// FMan u-code
			partition@fm {
				reg = <0x03f00000 0x00020000>;
				label = "fman-ucode";
			};

			// U-Boot Env
			partition@env {
				reg = <0x03f20000 0x00020000>;
				label = "env";
			};

			// U-Boot
			partition@ub {
				reg = <0x03f40000 0x000c0000>;
				label = "uboot";
			};
		};
	};

	memory {
		device_type = "memory";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bman_fbpr: bman-fbpr {
			size = <0 0x1000000>;
			alignment = <0 0x1000000>;
		};
		qman_fqd: qman-fqd {
			size = <0 0x400000>;
			alignment = <0 0x400000>;
		};
		qman_pfdr: qman-pfdr {
			size = <0 0x2000000>;
			alignment = <0 0x2000000>;
		};
	};

	dcsr: dcsr@f00000000 {
		ranges = <0x0 BRD_HIGH 0x00000000 0x01072000>;
	};

	bportals: bman-portals@ff4000000 {
		ranges = <0x0 BRD_HIGH 0xf4000000 0x2000000>;
	};

	qportals: qman-portals@ff6000000 {
		ranges = <0x0 BRD_HIGH 0xf6000000 0x2000000>;
	};

	soc: soc@ffe000000 {
		ranges = <0x00000000 BRD_HIGH 0xfe000000 0x1000000>;
		reg = <BRD_HIGH 0xfe000000 0 0x00001000>;

		gpio-restart {
			compatible = "gpio-restart";
			gpios = <&gpio3 7 GPIO_ACTIVE_LOW>;
			priority = <200>;
		};

		gpio-board-id {
			compatible = "gpio-board-id";
			gpios = <&gpio3 11 GPIO_OPEN_SOURCE>;
		};

		i2c@118000 {
			eeprom@50 {
				compatible = "at24,24c256";
				reg = <0x50>;
			};
			rtc@68 {
				compatible = "dallas,ds1374";
				reg = <0x68>;
				interrupts = <0x1 0x1 0 0>;
			};
			monitor@2f {
				compatible = "winbond,w83793";
				reg = <0x2f>;
			};
		};

		i2c@118100 {
			mux@70 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;


				i2c_mux_0: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
				};

				i2c_mux_1: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
				};

				i2c_mux_2: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
				};

				i2c_mux_3: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
				};
			};
		};

		i2c@119000 {
			gpio@24 {
				compatible = "nxp,pca9535";
				gpio-controller;
				#gpio-cells = <0x02>;
				reg = <0x24>;
			};
		};

		i2c@119100 {
		};

		sdhc@114000 {
			voltage-ranges = <1800 1800 3300 3300>;
		};
	};

	rio: rapidio@ffe0c0000 {
		reg = <BRD_HIGH 0xfe0c0000 0 0x11000>;

		port1 {
			ranges = <0 0 MEM_HIGH 0x40000000 0 0x10000000>;
		};

		port2 {
			ranges = <0 0 MEM_HIGH 0x50000000 0 0x10000000>;
		};
	};

	pci0: pcie@ffe240000 {
		reg = <BRD_HIGH 0xfe240000 0 0x10000>;
		ranges = <0x02000000 0 0xe0000000 MEM_HIGH 0x00000000 0x0 0x20000000
			  0x01000000 0 0x00000000 BRD_HIGH 0xf8000000 0x0 0x00020000>;
		pcie@0 {
			ranges = <0x02000000 0 0xe0000000
				  0x02000000 0 0xe0000000
				  0 0x20000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00020000>;
		};
	};

	pci2: pcie@ffe260000 {
		reg = <BRD_HIGH 0xfe260000 0 0x10000>;
		ranges = <0x02000000 0 0xe0000000 MEM_HIGH 0x20000000 0 0x20000000
			  0x01000000 0 0x00000000 BRD_HIGH 0xf8020000 0 0x00020000>;
		pcie@0 {
			ranges = <0x02000000 0 0xe0000000
				  0x02000000 0 0xe0000000
				  0 0x20000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00020000>;
		};
	};
};

#include "t4240si-post.dtsi"

/ {
	/* Redo aliases so we get proper ordering in relation to the back
	 * panel when udev renames things. */
	aliases {
		/* ethernet0 is 1g, leave it */
		/delete-property/ ethernet6;
		/delete-property/ ethernet7;
		/delete-property/ ethernet14;
		/delete-property/ ethernet15;
		ethernet1 = &enet14;
		ethernet2 = &enet15;
		ethernet3 = &enet7;
		ethernet4 = &enet6;
	};

	/* Back Panel Port 1 */
	sfp_xg0: xg-sfp0 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_mux_3>;
		mod-def0-gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;
		los-gpios = <&gpio2 27 GPIO_ACTIVE_HIGH>;
		/* tx-disable-gpios = <&gpio2 30 GPIO_ACTIVE_HIGH>; */
	};

	/* Back Panel Port 2 */
	sfp_xg1: xg-sfp1 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_mux_2>;
		mod-def0-gpios = <&gpio2 21 GPIO_ACTIVE_LOW>;
		los-gpios = <&gpio2 26 GPIO_ACTIVE_HIGH>;
	};

	/* Back Panel Port 3 */
	sfp_xg2: xg-sfp2 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_mux_1>;
		mod-def0-gpios = <&gpio2 22 GPIO_ACTIVE_LOW>;
		los-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
	};

	/* Back Panel Port 4 */
	sfp_xg3: xg-sfp3 {
		compatible = "sff,sfp";
		i2c-bus = <&i2c_mux_0>;
		mod-def0-gpios = <&gpio2 23 GPIO_ACTIVE_LOW>;
		los-gpios = <&gpio2 29 GPIO_ACTIVE_HIGH>;
	};

	soc@ffe000000 {
		fman@400000 {
			/* FM1 1G 1 */
			ethernet@e0000 {
				/delete-property/ pcs-handle-names;
				pcsphy-handle = <&pcsphy0>;
				#ifdef DIRECT_PHY_1G
				phy-handle = <&phy1>;
				#endif
			};

			/* FM1 10G 1, Back Panel Port 4 */
			ethernet@f0000 {
				/delete-property/ pcs-handle-names;
				pcsphy-handle = <&pcsphy6>;
				sfp = <&sfp_xg3>;
			};

			/* FM1 10G 2, Back Panel Port 3 */
			ethernet@f2000 {
				/delete-property/ pcs-handle-names;
				pcsphy-handle = <&pcsphy7>;
				sfp = <&sfp_xg2>;
			};

			/* U-Boot needs the extra for LIODN */
			port@88000 {
		                compatible = "fsl,fman-v3-port-rx", "fsl,fman-port-1g-rx";
			};

			port@90000 {
				compatible = "fsl,fman-v3-port-rx", "fsl,fman-port-10g-rx";
			};

			port@91000 {
				compatible = "fsl,fman-v3-port-rx", "fsl,fman-port-10g-rx";
			};

			#ifdef QORIQ_SCOPE
			/delete-node/ mdio@e9000;
			/delete-node/ mdio@fc000;
			/delete-node/ mdio@fd000;
			#endif
		};

		fman@500000 {
			/* FM2 10G 1, Back Panel Port 1 */
			ethernet@f0000 {
				/delete-property/ pcs-handle-names;
				pcsphy-handle = <&pcsphy14>;
				sfp = <&sfp_xg0>;
			};

			/* FM2 10G 2, Back Panel Port 2 */
			ethernet@f2000 {
				/delete-property/ pcs-handle-names;
				pcsphy-handle = <&pcsphy15>;
				sfp = <&sfp_xg1>;
			};

			port@90000 {
				compatible = "fsl,fman-v3-port-rx", "fsl,fman-port-10g-rx";
			};

                        port@91000 {
				compatible = "fsl,fman-v3-port-rx", "fsl,fman-port-10g-rx";
			};

			#ifdef DIRECT_PHY_1G
			mdio@fc000 {
				phy1: ethernet-phy@1 {
					reg = <0x01>;
				};
			};
			#endif

			#ifdef QORIQ_SCOPE
			/delete-node/ mdio@e9000;
			#ifndef DIRECT_PHY_1G
			/delete-node/ mdio@fc000;
			#endif
			/delete-node/ mdio@fd000;
			#endif
		};
	};
};
